[tool.commitizen]
name = "cz_conventional_commits"
version = "0.3.1"
tag_format = "v$version"
version_files = ["pyproject.toml:version", "src/glean/indexing/__init__.py:__version__"]
update_changelog_on_bump = true 
